st="Print only the words that start with s in the sentence"

In [1]:
st="Print only the words that start with s in the sentence"

In [2]:
st1=st.split()

In [4]:
for letter in st1:
    if letter[0]=="s":
        print(letter)

start
s
sentence

In [6]:
for num in range(0,11):
    if num%2==0:
        print(num)

0
2
4
6
8
10

Use a list comprehensions to create a list of all numbers between 1 and 50 that are divisible by 3

In [7]:
myBrandNewList=[num for num in range(1,51) if num%3==0]

In [8]:
myBrandNewList

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

Go through the string below and if the length of a word is even print "even"

In [9]:
st="Print every word in this sentence that has an even number of letters"

In [10]:
splited=st.split()

In [12]:
for letter in splited:
    if len(letter)%2==0:
        print(letter)

word
in
this
sentence
that
an
even
number
of

In [16]:
for num in range(0,101):
    if(num%3==0 and num%5==0):
        print("FizzBuzz")
    elif(num%3==0):
        print("Fizz")
    elif(num%5==0):
        print("Buzz")
    else:
        print(num)

FizzBuzz
1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

st="Create a list of first letters of every word in this string"

In [17]:
st="Create a list of first letters of every word in this string"

In [18]:
splitted1=st.split()

In [19]:
mylist=[word[0] for word in splitted1]

In [20]:
mylist

['C', 'a', 'l', 'o', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']